.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    font-size: 16px;
    z-index: 10;
    height: 24px;
}

.footer .author {
    margin-left: auto;
    padding-right: 20px;
}